body, html,img{
	background-color: #EDEDED !important;
	box-sizing: border-box;
	margin:0;
	padding:0; 
}

div {
	padding: 0;	
}
hr {
	width: 40px;
  	margin: 15px auto;
}

.container .row{
	margin-left: 0;
	margin-right: 0;		
}

.col.s4{
	background-color: yellow;	
}


.col.s4:nth-child(n){
 padding: 0;	
}

.col.s4:nth-child(2n){
	padding-left: 0;	
}


img {
	width:100%;
	height:50%;
}


.col-width{
	width:314.75px;	
	}


.row-galeria {
	height: 340px;	

}



