/*body, h1, h5, hr {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

section.portafolio {
	
	background-color:white;
	padding-top:4em;
	height: 587px;
}

<<<<<<< HEAD
.row {
	margin-bottom:4em; 

}

.col.s4{
	padding-left: 0;
	padding-right: 0;
}

.col.s4.img1,
.col.s4.img2,
.col.s4.img3,
.col.s4.img4,
.col.s4.img5,
.col.s4.img6 {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 170px;
	}

.col.s4.img1 {
		background-image: url('../img/code.jpg');	
} 

.col.s4.img2 {
	background-image: url(../img/consola.jpg);
}

.col.s4.img3{
	background-image: url(../img/desk-book.jpg);
}

.col.s4.img4{
	background-image: url('../img/desk-code.jpg');
}

.col.s4.img5{
	background-image: url('../img/girl-code.jpg');
}


.col.s4.img6{
	background-image: url('../img/img-1.jpg');
}







=======

.header {
	width: 100%;
	height: 587px;
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
}

.header span {
	padding: 6px 10px;
	font-size: 1.3rem;
}

.uppercase {
	text-transform: uppercase;
}

hr {
	width: 40px;
  margin: 15px auto;
}

.mb-50 {
	margin-bottom: 50px;
}

.font-300 {
	font-weight: 300;
}

.about {
	margin-top: 124px;
}

.card-action a:hover {
	color: #ffd180;
}

.icon-avatar {
	width: 65px;
	height: 65px;
	border-radius: 35px;
	display: block;
	margin: 0 auto 20px auto;
}

/*Mobile*/
@media (max-width: 768px) {
	.header {
		height: 475px;
		background-size: 1300px 700px;
	}

	.header h1 {
		font-size: 3rem;
	}

	.header span {
		font-size: 1rem;
	}
}

hr {
	width: 40px;
	margin: 15px auto;
}
.bold {
	font-weight: 500;
}
.section-contact {
	margin-top: 80px;
}
footer {
  position: absolute;
	margin-top: 68px;
	width: 100%;
	background-color: #607d8b;
	color: white;
	height: 72px;
}
.margin-0{
	margin: 0;

}
>>>>>>> 4133795a36aea74aa5f144727a9ef31090d96da8
